<h1>WELCOME TO THE FRONT PAGE</h1>
<p>As with harp server, by specifying an environment variable, you can multihost in production rather than development mode. In production mode, Harp has extra LRU caching to make your site run even faster.
It’s possible to run harp multihost on port 80, making it easy to leave a folder of applications hosted for you at all times.</p>
